<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <script src="https://www.jq22.com/jquery/jquery-3.3.1.js"></script>
</head>

<body>
hello , 注册
<!--<form method="post" action="http://localhost:8080/post">-->

用户名<input type="text" placeholder="aaa" username="username" value="aaa"> <br>
mima<input type="userPassword" username="userPassword" value="bbb">
<button onclick=sub1()> submit</button>
<p class="xxx" id="aaa">xxxx</p>
<script>
    function sub1() {
        console.log("123");
        var user= {
                'username':$("[username='username']").val(),
                'userPassword':$("[username='userPassword']").val()
                // 'username': 'xxx',
                // 'userPassword': 'ppp'
            };
        console.log(user);
        $.ajax(
            {

                url: "/registerC",
                type: "post",
                data:JSON.stringify(user),
                dataType: 'json',
                contentType:"application/json",
                success: function (data) {
                    console.log("data", data);
                    $('#aaa').text("username : " + data.username+ "  userPassword:" +data.userPassword);
                }
        });
    }


</script>

<!--</form>-->

</body>
</html>